body {
  font-family: "Zen Maru Gothic", sans-serif;
  color: #373636;
  margin: 0;
}

nav {
  align-items: center;
  background-color: #f5e199;
  padding: 10px 40px 10px 40px; /* 上下左右の余白を追加 */
  margin: 0 auto; /* 中央寄せを追加 */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin-right: 20px; /* リスト項目間の横の間隔を設定 */
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.full-view-image {
  height: 500px; /* Adjust the height as needed */
  background-image: url("./top.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  background-color: #fffae7;
  margin: 0 calc(50% - 50vw);
  padding: 4px calc(50vw - 50% + 8px);
  width: 100vw;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about {
  max-width: 800px; /* コンテンツ全体の最大幅を指定 */
  margin: auto;
  padding: 20px;
}

.about img {
  max-width: 100%; /* 画像の最大幅を親要素に対して100%に設定 */
  border-radius: 8px; /* 画像に角丸を適用（必要に応じて調整） */
  margin-left: 50px;
}

.activity {
  padding: 60px;
}

#activity {
  background-color: #ffffff;
}

.activity-items {
  display: flex;
  margin: auto;
  padding: auto;
  max-width: 1000px;
}

.activity-item {
  flex: 1;
  text-align: center;
  margin: auto;
  padding: 20px;
  max-width: 300px;
}

.activity-image img {
  max-width: 150px; /* 画像の最大幅を親要素に対して100%に設定 */
  max-height: 150px; /* 画像の最大高さを設定 */
  margin-bottom: 10px; /* 画像と文章の間に余白を追加 */
}

.members-section {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

.member {
  text-align: center;
  max-width: 200px;
}

.member-image img {
  border-radius: 50%;
  max-width: 150px; /* 画像の最大幅を設定 */
  max-height: 150px; /* 画像の最大高さを設定 */
  width: auto; /* 幅を自動調整 */
  height: auto; /* 高さを自動調整 */
}

#sns,
#schedule {
  background-color: #ffffff;
}

.container {
  max-width: 960px; /* Adjust as needed */
  margin: 0 auto;
  padding: 0 calc(50vw - 50%);
}

/* 8の倍数ルールに基づくレイアウト */
.section {
  padding: 100px 0;
}

/* 中央揃え */
h2,
p,
.activity-items,
.member,
#sns,
#schedule {
  text-align: center;
}

/* フッター */
footer {
  background-color: #fffae7;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* メンバー紹介セクション */
.members-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member {
  text-align: center;
  width: 30%; /* Adjust as needed */
  margin: 15px;
}

.member-image img {
  border-radius: 50%;
  width: 100%; /* Ensure the image takes up the full width of its container */
}
